@import "base";
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
// ========gradient example
// body{
// @include background-image(linear-gradient(#232323, #5c5c5c));
// }


$w: 640px;
*{margin:0;padding:0;}
img{@extend %gray;}
body{
   padding:20px;
}

#v{
   position: relative;
   width: $w + 20px;
   font-family: Helvetica,Arial,sans-serif;
   background: #333;
   border-radius: 4px;
   
   .v__title{
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      line-height: 1;
      padding: 0 10px;
      height: 40px;
      line-height: 40px;
      position: relative;
      width: 95%;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .v__video{
      padding: 0 10px;
   }
   .v__share{
      position: absolute;
      top: 8px;
      right: 10px;
      @include sized-sprite($icons, share);
      cursor: pointer;
   }

   .v__meta{
      margin-top: 50px;
      position: relative;
      padding: 0 10px 0 17px;
      height: 49px;
      line-height: 49px;
      background: #262626;
      border-bottom-left-radius:4px;
      border-bottom-right-radius:4px;
      border-top: 1px solid #484848;
      .v__likes{
         position: absolute;
         right: 10px;
         top: 0px;
         color: #aaa;
         font-size: 14px;
         font-weight: bold;
         text-shadow: 0 1px 0 rgba(#000,.3);
         cursor: pointer;
         .v__likesicon{
            display: inline-block;
            @include sized-sprite($icons, heart);
            vertical-align: middle;
            position: relative;
            top: -2px;
            &:hover{
               @include sized-sprite($icons, heartfull);
            }
         }
      }
      .v__next,.v__prev{
         display: inline-block;
         vertical-align: middle;
         margin-right: 14px;
         cursor: pointer;
      }
      .v__next{
         @include sized-sprite($icons, next);
      }
      .v__prev{
         @include sized-sprite($icons, prev);
      }
      .v__info{
         margin-right: 10px;
         cursor: pointer;
         display: inline-block;
         @include sized-sprite($icons, info);
         vertical-align: middle;
         position: relative;
         top: 1px;
      }
      .v__currenttrack{
         position: relative;
         margin-left: 0px;
         top: 2px;
         font-size: 14px;
         text-transform: uppercase;
         color: #fff;
         display: inline-block;
         span{
            color: #999;
            font-size: 12px;
         }
      }
   }
}









.video-js {
   background-color:#000;
   position:relative;
   font-size:10px;
   vertical-align:middle;
   .vjs-tech {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
   }
   &:-moz-full-screen{
      position:absolute;
   }
   &:-webkit-full-screen {
      width:100%!important;
      height:100%!important;
   }
   &.vjs-fullscreen {
      position:fixed;
      overflow:hidden;
      z-index:1000;
      left:0;
      top:0;
      bottom:0;
      right:0;
      width:100%!important;
      height:100%!important;
      _position:absolute;
   }
   .vjs-poster {
      cursor:pointer;
      position:relative;
      width:100%;
      max-height:100%;
      margin:0 auto;
      padding:0;
   }
   .vjs-control-text {
      text-indent: -1983em;
      overflow: hidden;
      display: none;
   }
}

body.vjs-full-window {
   height:100%;
   overflow-y:auto;
   margin:0;
   padding:0;
}

//effects
.vjs-fade-in {
visibility:visible!important;
opacity:1!important;
-webkit-transition:visibility 0 linear 0 .3s linear;
-moz-transition:visibility 0 linear 0 .3s linear;
-ms-transition:visibility 0 linear 0 .3s linear;
-o-transition:visibility 0 linear 0 .3s linear;
transition:visibility 0 linear 0 .3s linear;
}

.vjs-fade-out {
visibility:hidden!important;
opacity:0!important;
-webkit-transition:visibility 0 linear 1.5s 1.5s linear;
-moz-transition:visibility 0 linear 1.5s 1.5s linear;
-ms-transition:visibility 0 linear 1.5s 1.5s linear;
-o-transition:visibility 0 linear 1.5s 1.5s linear;
transition:visibility 0 linear 1.5s 1.5s linear;
}
// CONTROLS======== PLAY PAUSE=====================
.vjs-controls {
   position:absolute;
   bottom:-51px;
   left:0;
   right:0;
   height:51px;
   color:#fff;
   background: #333;
   visibility:visible !important;
   opacity:1 !important;
}

.vjs-control:focus {
   outline:0;
}
.vjs-play-control{
   position: absolute;
   top: 14px;
   left: 8px;
   opacity: .5;
   .vjs-paused &{
      @include sized-sprite($icons, play1);
   }
   .vjs-playing & {
      @include sized-sprite($icons, pause);
      top: 12px;
   }
   &:hover{
      opacity: 1;
   }
}
// CUSTOM CONTROLS
.v__repeat{
   position: absolute;
   bottom: 65px;
   left: 55px;
   @include sized-sprite($icons, 3);
   cursor: pointer;
   opacity: 0.5;
   &:hover{
      opacity: 1;
   }
}
.v__slowmo{
   @extend .v__repeat;
   position: absolute;
   left: 92px;
   bottom: 67px;
   @include sized-sprite($icons, play);
}
.v__snapshot{
   @extend .v__repeat;
   position: absolute;
   left: 126px;
   bottom: 67px;
   @include sized-sprite($icons, snapshot);
}
.v__wider{
   @extend .v__repeat;
   left: auto;
   right: 15px;
   bottom: 65px;
   @include sized-sprite($icons, wider);
}
.v__hd{
   @extend .v__repeat;
   left: auto;
   right: 85px;
   bottom: 65px;
   @include sized-sprite($icons, hd);
}
.vjs-fullscreen-control {
   position: absolute;
   top: 18px;
   right: 37px;
   opacity: .5;
   @include sized-sprite($icons, fullscreen);
   &:hover{
      opacity: 1;
   }
}

// MUTE VOLUME =============================
// .vjs-mute-control{
//    position: static;
//    right: 200px;
//    bottom: 10px;
//    .vjs-mute-control div {
//       width:22px;
//       height:16px;
//       background:url(video-js.png) -75px -25px;
//       margin:.5em auto 0;
//    }
//    .vjs-mute-control.vjs-vol-0 div {
//       background:url(video-js.png) 0 -25px;
//    }
//    .vjs-mute-control.vjs-vol-1 div {
//       background:url(video-js.png) -25px -25px;
//    }
//    .vjs-mute-control.vjs-vol-2 div {
//       background:url(video-js.png) -50px -25px;
//    }
// }

// VOLUME ================================
.vjs-volume-control{
   position: absolute;
   top: 23px;
   right: 117px;
   width: 1px;
   .vjs-volume-bar {
      position:absolute;
      right: 0;
      width:70px;
      height:.6em;
      cursor:pointer!important;
      border-radius: 5px;
      background: #fff;
   }
   .vjs-volume-level {
      position:absolute;
      top:0;
      left:0;
      height:.6em;
      -moz-border-radius:.3em;
      -webkit-border-radius:.3em;
      border-radius:.3em;
      background: #fff;
   }
   .vjs-volume-handle {
      position:absolute;
      top:-.2em;
      left:0;
      width:.8em;
      height:.8em;
      margin-left: -4px;
      background:#ccc;
      box-shadow:0 0 3px rgba(#000,.4);
      border:1px solid #fff;
      border-radius: 5px;
   }
}

//progressbar
.vjs-progress-control {
   position:absolute;
   left:0;
   right:0;
   height:4px;
   width:auto;
   top:-4px;
   border: 1px solid #fff;
   border-radius: 5px;
   background: #fff;
   .vjs-progress-holder {
      position:relative;
      cursor:pointer!important;
      height:4px;
      border-radius: 5px;
      @include background-image(linear-gradient(#111, #262626));
   }
   .vjs-progress-holder .vjs-play-progress,.vjs-progress-holder .vjs-load-progress {
      position:absolute;
      display:block;
      height:4px;
      left:0;
      top:0;
      border-radius: 5px;
   }
   .vjs-play-progress {
      background: #b42c2c;
   }
   .vjs-load-progress {
      background: #999;
   }
   .vjs-seek-handle {
      position:absolute;
      @include sized-sprite($icons, handle);
      margin-top:-6px;
      left:0;
      top:0;
   }
}


//time values ===================================
.vjs-time-controls {
   position: absolute;
   top: 19px;
   left: 50%;
   width: 100px;
   opacity: .5;
   color: #fff;
   font-size: 12px;
}
.vjs-current-time{}
.vjs-current-time {
   opacity: 1;
   margin-left: -4em;
   text-align: left;
}
.vjs-duration {
   margin-right: -4em;
   left: auto;
   right: 50%;
   text-align: right;
   display: none;
}
.vjs-remaining-time {
   margin-right: -4em;
   right: 50%;
   left: auto;
   text-align: right;
}
.vjs-time-divider {
   position: absolute;
   left: 50%;
   height: 25px;
   top: 15px;
   border-left: 1px solid #484848;
   span{
      display: none;
   }
}
.vjs-time-control {
   font-size:1em;
   line-height:1;
   font-weight:400;
   font-family:Helvetica,Arial,sans-serif;
}


// BIG play ==================================
.vjs-big-play-button {
   display:block;
   z-index:2;
   position:absolute;
   top:50%;
   left:50%;
   width:8em;
   height:8em;
   text-align:center;
   vertical-align:center;
   cursor:pointer!important;
   border:.2em solid #fff;
   opacity:.95;
   -webkit-border-radius:25px;
   -moz-border-radius:25px;
   border-radius:25px;
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545',endColorstr='#3f3f3f',GradientType=0);
   background:linear-gradient(top,#454545 0,#232323 50%,#161616 50%,#3f3f3f 100%);
   box-shadow:4px 4px 8px #000;
   margin:-42px 0 0 -42px;
   &:hover{
      box-shadow:0 0 80px #fff;
   }
   span{
      position:absolute;
      top:50%;
      left:50%;
      display:block;
      width:35px;
      height:42px;
      background:url(video-js.png) -100px 0;
      margin:-20px 0 0 -15px;
   }
   .vjs-paused &{
      display: block !important;
   }
}


.vjs-loading-spinner {
   display:none;
   position:absolute;
   top:50%;
   left:50%;
   width:55px;
   height:55px;
   -webkit-animation-name:rotate;
   -webkit-animation-duration:1s;
   -webkit-animation-iteration-count:infinite;
   -webkit-animation-timing-function:linear;
   -moz-animation-name:rotate;
   -moz-animation-duration:1s;
   -moz-animation-iteration-count:infinite;
   -moz-animation-timing-function:linear;
   margin:-28px 0 0 -28px;
   .ball1{
      opacity:.12;
      position:absolute;
      left:20px;
      top:0;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }
   .ball2{
      opacity:.25;
      position:absolute;
      left:34px;
      top:6px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }
   .ball3{
      opacity:.37;
      position:absolute;
      left:40px;
      top:20px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }
   .ball4 {
      opacity:.50;
      position:absolute;
      left:34px;
      top:34px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:10px;
      -webkit-border-radius:10px;
      -moz-border-radius:15px;
      border:1px solid #ccc;
   }

   .ball5 {
      opacity:.62;
      position:absolute;
      left:20px;
      top:40px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }

   .ball6 {
      opacity:.75;
      position:absolute;
      left:6px;
      top:34px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }

   .ball7 {
      opacity:.87;
      position:absolute;
      left:0;
      top:20px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }
   .ball8 {
      opacity:1.00;
      position:absolute;
      left:6px;
      top:6px;
      width:13px;
      height:13px;
      background:#fff;
      border-radius:13px;
      -webkit-border-radius:13px;
      -moz-border-radius:13px;
      border:1px solid #ccc;
   }
}





.vjs-menu-button {
   float:right;
   width:3em;
   height:2em;
   cursor:pointer!important;
   border:1px solid #111;
   -moz-border-radius:.3em;
   -webkit-border-radius:.3em;
   border-radius:.3em;
   background:linear-gradient(top,#4d4d4d 0,#3f3f3f 50%,#333 50%,#252525 100%);
   margin:.2em .5em 0 0;
   padding:0;
   div{
      background:url(video-js.png) 0 -75px no-repeat;
      width:16px;
      height:16px;
      margin:.2em auto 0;
      padding:0;
   }
   ul{
      display:none;
      opacity:.8;
      position:absolute;
      width:10em;
      bottom:2em;
      max-height:15em;
      left:-3.5em;
      background-color:#111;
      border:2px solid #333;
      -moz-border-radius:.7em;
      -webkit-border-radius:1em;
      border-radius:.5em;
      -webkit-box-shadow:0 2px 4px 0 #000;
      -moz-box-shadow:0 2px 4px 0 #000;
      box-shadow:0 2px 4px 0 #000;
      overflow:auto;
   }
   &:focus,&:hover{
      display:block;
      list-style:none;
   }
   ul{
      li{
         list-style:none;
         line-height:1.4em;
         font-size:1.2em;
         font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
         text-align:left;
         margin:0;
         padding:.3em 0 .3em 20px;
      }
   }
}



.vjs-menu-button ul li.vjs-selected {
text-decoration:underline;
background:url(video-js.png) -125px -50px no-repeat;
}

.vjs-menu-button ul li:focus,.vjs-menu-button ul li:hover,.vjs-menu-button ul li.vjs-selected:focus,.vjs-menu-button ul li.vjs-selected:hover {
background-color:#ccc;
color:#111;
outline:0;
}

.vjs-menu-button ul li.vjs-menu-title {
text-align:center;
text-transform:uppercase;
font-size:1em;
line-height:2em;
color:#fff;
font-weight:700;
cursor:default;
background:linear-gradient(top,#4d4d4d 0,#3f3f3f 50%,#333 50%,#252525 100%);
margin:0 0 .3em;
padding:0;
}



.vjs-play-control,.vjs-rewind-control {
width:5em;
cursor:pointer!important;
}

.vjs-mute-control,.vjs-fullscreen-control {
cursor:pointer!important;
display: inline-block;
}




